<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Wordle:</h1>
      <p>Vous avez 7 essais pour deviner un mot de 5 lettres<br>
        Les lettres à la bonne place apparaisent en majuscule en vert,<br>
        celles présentes dans le mot mais en mauvaise position <br> sont en minuscule en jaune.</p>
      <input id="input-word" name="input-word" [disabled]="disable" [(ngModel)]="wordTried" autofocus><br>
      <div style="text-align:center">
        <button class="btn btn-primary" [disabled]="disable" (click)="checkIfLettersAreInRightPlace()"
          (click)="SearchForLettersInWrongPlace()" (click)="decrementTry()" (click)="checkIfPlayerWon()"
          (click)="checkVictoryCondition()" (click)="emptyField()">Valider
        </button><br>


      </div>
      <p>nombre d'essais restant :{{nbTryLeft}}</p>
      <p [ngClass]="[victory?'victory':'defeat']">{{messageDefeatOrVictory}}</p>
    </div>
    <div class="col-6">
      <h1>Essais:</h1>
      <div #myElement>
        <div  *ngFor="let item of tabAnswers" class="answer"> <span *ngFor="let lettre of item">
            <span [ngClass]="[lettre.toUpperCase()==lettre?'green':'yellow']">{{lettre}}</span></span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="text-align:center">
      <button [ngClass]="[visible?'visible-btn':'hidden']" (click)="myElement.innerHTML=''" (click)="startNewGame()">Rejouer</button>
    </div>
  </div>
</div>