#input-word{
  font-size: 45px;
  width: 75%;
  letter-spacing: 0.5em;
  margin-bottom: 15px;
}
.answer{
  font-size: 45px;
}
.defeat{
  color:red;
}
.victory{
  color: green;
}
h1{
  color: darkcyan;
}
.green{
  color: green;
}
.yellow{
  color: yellow;
}
p{
  text-justify: auto;
}
.visible-btn{
  width: 250px;
  height: 125px;
  background-color: green;
}
.hidden{
  display:none;
}
